<!--The content below is only a placeholder and can be replaced.-->
<div>
    <h2>Have Fun</h2>
</div>
<div fxLayout>
    <div fxFlex [formGroup]="form">
        <div>
            <mat-form-field>
                <input matInput placeholder="關鍵字" formControlName="keyword">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field>
                <mat-select placeholder="請選擇區" formControlName="locationId">
                    <mat-option *ngFor="let location of (locations$ | async )" [value]="location.id">
                        {{location.text}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <section>
            <mat-radio-group formControlName="isFree">
                <mat-radio-button value="null" checked="true">All</mat-radio-button>
                <mat-radio-button value="1">免費</mat-radio-button>
                <mat-radio-button value="0">收費</mat-radio-button>
            </mat-radio-group>
        </section>

        <section>
            <mat-radio-group formControlName="isAllDay">
                <mat-radio-button value="null" checked="true">All</mat-radio-button>
                <mat-radio-button value="1">全天開放</mat-radio-button>
                <mat-radio-button value="0">其他</mat-radio-button>
            </mat-radio-group>
        </section>

    </div>
    <div fxFlex>
        <div *ngFor="let spot of (attractions$ | async)">
            <h5>{{spot.Name}}</h5>
            <p>{{spot.Opentime}}</p>
            <p>{{spot.Zone}}</p>
            <p>{{spot.Ticketinfo}}</p>
        </div>
    </div>
</div>