/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/purple-green.css";
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F2F2F2
}

.header {
    font-size: 14px;
    color: #FFFFFF;
    background-color: #7828B4;
    min-height: 72px
}

.filter-block {
    background-color: #EBEBEB;
    padding: 20px;
    border-bottom: 3px solid #D7D7D7
}

.f2e-card-title {
    font-size: 20px;
    font-weight: bold;
    color: #9013FE;
    margin-bottom: 10px;
}

.f2e-card-tag {
    display: inline-block;
    color: #FFFFFF;

    font-size: 14px;
    text-align: center;
    border-radius: 50px;
    width: 80px;
    padding:5px;
    height: 30px;
    background-color: #D7D7D7;
    margin-left: 10px;
}

.f2e-card-footer {
    font-size: 14px;
    color: #9B9B9B
}

.f2e-card {
    max-height: 220px;
    max-width: 780px;
    box-shadow: 1px 1px 2px 2px #ccc;
    box-sizing: border-box;
    &:hover {
        box-shadow: 3px 3px 4px 4px #ccc;
    }
}

.f2e-card-pad {
    max-height: 610px;
    max-width: 388px;
    box-shadow: 1px 1px 2px 2px #ccc;
    &:hover {
        box-shadow: 3px 3px 4px 4px #ccc;
    }
}

img {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.f2e-img-size-pad {
    height: 196px;
    width: 388px;
    overflow: hidden;
}

.f2e-card-image {
    min-height: 220px;
    min-width: 220px;
}

.f2e-card-image-pad {
    width: 388px;
    height: 196px;
    overflow: hidden;
}

.f2e-card-content {
    background-color: #FFFFFF;
    padding: 10px;
    max-height: 220px;
}

.f2e-card-content-pad {
    background-color: #FFFFFF;
    padding: 20px;
    max-height: 414px;
}

.f2e-card-description{
   font-size:14px;
}

.gov-label {
    font-size: 14px;
}


.icon-spacing {
    margin-left: 5px;
}

.keyword-icon-spacing{
    margin-left: 15px;
}

.keyword-block{
    font-size: 16px;
    padding: 4px;
    border-bottom:1px solid #ffffff;
    max-width: 350px;
}

.keyword-block-xs {
    margin-top:10px;
    margin-bottom:10px;
    font-size: 16px;
    padding: 4px;
    border-bottom:1px solid #000000;
    max-width: 350px;
}

.keyword-input {
    background: transparent;
    outline: none;
    border:transparent;
    color: #ffffff;
    width: 300px;
}

.keyword-input-xs {
    background: transparent;
    outline: none;
    border:transparent;
    color: #000000;
    width: 300px;
}

.filter-indicator {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 10px;
}



.dropdown {
    background-color: #ffffff;
}

mat-select-field{
    background-color: #ffffff;
}

.website-label{
    font-size: 36px;
    font-weight: bold;
}
.ticket-info{
    font-size: 12px;
}